<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @stammr_post.content %>
</p>

<%= link_to 'Edit', edit_stammr_post_path(@stammr_post) %> |
<%= link_to 'Back', stammr_posts_path %>
