<footer>
    <div class="container">
        <div class="row">
            <div class="span7">
                <h3 class="footer-title">Kreigh Experiments</h3>
                <p>
                    This is an experimental site created for <br/>
                    the sole purpose of studying Ruby on Rails. <br/>
                    If you really like it that much, <br/>
                    you can find the source code on
                    <a href="https://github.com/breisamoralde/stammr">github!</a>
                </p>

            </div>

            <div class="span5">
                <div class="footer-banner">
                    <h3 class="footer-title">Stammr what?</h3>
                    <p>
                        Here at Stammr, we offer free bananas <br/>
                        to the people who help answer life's most <br/>
                        puzzling questions!
                    </p>

                    <small>
                        We are serious! <br/>
                        We will send you a banana via snail mail!
                    </small>

                </div>
            </div>
        </div>
    </div>
</footer>